/* h1 {
  text-align: left;
  position: relative;
  line-height: 60%;
  font-size: 34px;
  color: rgba(0, 0, 0, .8);
  line-height: 1;
} */

body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  font-weight: 400;
  color: "#1e1e1e";

  /* padding: 2rem; */
  /* width: 45%;
  margin: auto;
  text-align: left;
  line-height: 34px;
  color: #1e1e1e;
  font-weight: 100;
  font-size: 20px; */
}
